<div class="ui people shape">
  <div class="sides">
    <div class="active side">
      <div class="ui card">
        <div class="image">
          <img src="../assets/apuesta-img.png">
        </div>
        <div class="content">
          <div class="header">{{Bet.title}}</div>
          <div class="meta">
            <a>Precio participación: {{Bet.coste}}</a>
          </div>
        </div>
        <div class="extra content">
          <span>
            <i class="user icon"></i>
            151 Friends
          </span>
        </div>
      </div>
    </div>
    <div class="side">
      <div class="ui card">
        <div class="image">
          <img src="/images/avatar/large/stevie.jpg">
        </div>
        <div class="content">
          <a class="header">Stevie Feliciano</a>
          <div class="meta">
            <span class="date">Joined in 2014</span>
          </div>
          <div class="description">
            Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            22 Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>