<button class="negative ui right floated button" (click)="endBet($event)" id="endBet">Finalizar apuesta</button>
<form class="ui form" (ngSubmit)="updateApuesta($event)">
  <div class="field">
    <label>Coste de participación:</label>
    <input type="text" [(ngModel)]="coste" name="coste" placeholder="coste">
  </div>
  <div class="field">
    <label>Beneficio: </label>
    <input type="text" [(ngModel)]="beneficio" name="beneficio" placeholder="beneficio">
  </div>
  <div class="field">
    <label>Foto del boleto: </label>
    <input type="file" (change)="setFoto($event)">
  </div>
  <div class="form-group">
    <button class="ui green button" type="submit">Actualizar</button>
  </div>
</form>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Finalizar la apuesta
  </div>
    <div class="description">
      <p>¿Estas seguro de que quieres finalizar la apuesta?</p>
    </div>
  
  <div class="actions">
    <div class="ui red deny button" >
      No
    </div>
    <div class="ui positive right labeled icon button" (click)="confirm($event)">
      Si
      <i class="checkmark icon"></i>
    </div>
  </div>