<div class="ui success message" *ngIf="exito">
  <i class="close icon"></i>
  <div class="header">
    Se ha cambiado la contraseña con éxito.
  </div>
  <p>Ahora puedes iniciar sesión con tu nueva contraseña.</p>
</div>
<div class="ui error message" *ngIf="fallo">
  <i class="close icon"></i>
  <div class="header">
    El token ha expirado o no se ha solicitado un cambio de contraseña
  </div>
  <p>Prueba a restaurar de nuevo tu contraseña</p>
</div>
<form class="ui form" *ngIf="!fallo" (ngSubmit)="changePassword($event)">
  <div class="required field">
    <label>Contraseña</label>
    <div class="ui icon input">
      <input type="password" required [(ngModel)]="password" name="password" placeholder="Contraseña">
      <i class="unhide icon"></i>
    </div>
  </div>
  <div class="required field">
      <label>Repite contraseña</label>
    <div class="ui icon input">
      <input type="password" required [(ngModel)]="rpassword" name="rpassword" placeholder="Repite contraseña">
      <i class="unhide icon"></i>
    </div>
  </div>
  <button type="submit" class="ui fluid large teal submit button">Guardar</button>
</form>