   body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .ui.form {
      margin-top:6em;
      margin-bottom:19em;
      margin-left: 3em;
      max-width: 40em;
    }
    .ui.inverted.segment{
    margin-top: 0;
    }
    .ui.checkbox {
    margin-top: 1em;
    }
    .ui.button {
     margin-top: 1em;
    }
    .ui.success.message{
      margin-top: 5em;
    }
    .ui.error.message{
      margin-top: 5em;
    }