.ui.grid {
    margin-top: 5em;
    margin-left: 2em;
}
.ui.segment {
    max-width: 80%;
}
.ui.teal.button, .ui.teal.buttons .button .create {
    background-color: #bdbdbd;
    margin-top: 3.55em;
}
.ui.card{
    margin-bottom:1em;
}