.ui.grid {
    margin-top: 5em;
    margin-left: 2em;
}
.ui.segment {
    max-width: 80%;
}
.ui.teal.button, .ui.teal.buttons .button .create {
    background-color: #bdbdbd;
    margin-top: 3.55em;
}
.ui.green.button{
        margin: 1em;
}
.ui.card{
    margin-bottom:2em;
    width: 20em;
}
p{
    font-weight: bold;
    padding-top: 0.5em;
}
.ui.footer{
    padding-top:2em;
}
.ui.card>.image>img {
        height: 20em;
}