    <div class="column">
      <div class="ui people shape">   
        <div class="sides">
          <div class="active side">
            <div class="ui card">
              <div class="ui fluid image">
                  <a class="ui red ribbon label" *ngIf="!administrador && !pagado ">No pagado</a>
                  <a class="ui green ribbon label" *ngIf="!administrador && pagado">Pagado</a>
                <img [src]="bet.foto"/>
              </div>
              <div class="content">
                <div class="header">{{bet.titulo}}</div>
                <div class="meta">
                  <p>Fecha limimite para unirse:<br/></p>
                  <label>{{fecha_expires}}</label>
                </div>
                <div class="meta">
                  <p>Fecha realización de la apuesta:<br/></p>
                  <label>{{fecha_apuesta}}</label>
                </div>
                <div class="meta">
                  <p>Precio participación: {{bet.coste}}€
                </div>
              </div>
              <div class="extra content">
                <span>
            <i class="user icon" ></i>
           {{bet.participantes}} Participantes
          </span>

              </div>
              <div class="form-group">
               <button class="ui green button" *ngIf="!administrador && !pago" (click)="pagar($event)">Pagar</button>
                <button class="ui green button" *ngIf="!unido" (click)="unirse($event)">Unirse</button>
                <button class="ui green button" *ngIf="administrador" (click)="administrar($event)">Administrar</button>

                
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

