     <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1  i18n class="ui inverted header">
                Realiza apuestas junto a tus amigos
            </h1>
            <h2>Hazlo cuando quieras y donde quieras.</h2>
            <div class="ui huge primary button" (click)="start($event)">Empezar <i class="right arrow icon"></i></div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1 class="ui header">Crea tu propia apuesta</h1>
                    <p>Crea una apuesta e invita a otras personas a participar.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="assets/crear-apuesta.png" class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>
<div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="six wide right floated column">
                    <img src="assets/amigos.png" class="ui large bordered rounded image">
                </div>
                <div class="eight wide column">
                    <h1 class="ui header">Invita a otras personas</h1>
                    <p>Invita a otras personas a tu apuesta y asi compartireis gastos y beneficios.</p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
          <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1 class="ui header">Paga tus participaciones</h1>
                    <p>Realiza los pagos en aquellas apuestas que vayas a participar.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="assets/pagos.png" class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="six wide right floated column">
                    <img src="assets/beneficio.png" class="ui large bordered rounded image">
                </div>
                <div class="eight wide column">
                    <h1 class="ui header">Recibe beneficios</h1>
                    <p>Recibe los beneficios de aquellas apuestas que hayan resultado ganadores.</p>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1 class="ui header">Consulta tu historial de apuestas</h1>
                    <p>Revisa tu historial de apuestas para ver las apuestas en las que has ganado o aquellas en las que has perdido.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="assets/historial.png" class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>
    </div>

