.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #abded9;
    margin-top:3%;
    padding-bottom: 3%;
}

img.ui.bordered.image {
    border: 0px solid rgba(0,0,0,.1);
}
.ui.vertical.stripe {
    padding: 0em 0em;
    padding-bottom: 0em;
}