     <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1  i18n class="ui inverted header">
                Realiza apuestas junto a tus amigos
            </h1>
            <h2>Hazlo cuando quieras y donde quieras.</h2>
            <div class="ui huge primary button">Empezar <i class="right arrow icon"></i></div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1 class="ui header">Crea una cuenta</h1>
                    <p>Registrate y pasa a formar parte de la comunidad.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>


    <div class="ui vertical stripe quote segment">
          <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1 class="ui header">Crea una cuenta</h1>
                    <p>Registrate y pasa a formar parte de la comunidad.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1 class="ui header">Crea una cuenta</h1>
                    <p>Registrate y pasa a formar parte de la comunidad.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>
    </div>

