<div *ngIf="!login" class="ui top fixed menu">
    <a class="item" [routerLink]="['/app/inicio']">
        <img src="../assets/logo.png">
        </a>
  <a class="item" [routerLink]="['/app/inicio']">Inicio</a>
  <div class="right menu">
    <a class="item" [routerLink]="['/app/login']"> Iniciar sesión</a>
    <a class="item" [routerLink]="['/app/register']">Registrar</a>
  </div>
</div>

<div *ngIf="login" class="ui top fixed menu">
    <a class="item" [routerLink]="['/app/apuestas']">
        <img src="../assets/logo.png">
        </a>
  <a class="item" [routerLink]="['/app/apuestas']" >Mis apuestas</a>
  <a class="item" [routerLink]="['/app/']">Historial</a>
  <div class="right menu">
    <a class="item" [routerLink]="['/app/profile']">Mi perfil</a>
    <a class="item" (click)="logout($event)" [routerLink]="['/app/login']">Cerrar sesión</a>
   
  </div>
</div>