   body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .column {
      margin-top:17em;
      margin-bottom:20em;
      max-width: 40em;
    }
    .ui.inverted.segment{
    margin-top: 0;
}
.ui.negative.message{
  margin-top: 5em;
}
.ui.modal>:last-child {
    text-align: center;
    font-size: 3rem;
}