<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <menu-invitado  (notify)="loginShow($event)"></menu-invitado>   
        <div  *ngIf="show" class="ui text container">
            <h1  class="ui inverted header">
                Realiza apuestas junto a tus amigos
            </h1>
            <h2>Hazlo cuando quieras y donde quieras.</h2>
            <div class="ui huge primary button">Empezar <i class="right arrow icon"></i></div>
        </div>
    </div>
    <router-outlet></router-outlet>

    <footer></footer>
</div>