<form class="ui form">
  <div class="field">
    <label>Usuario</label>
    <input type="text" required [(ngModel)]="usuario" name="usuario" placeholder="Usuario">
  </div>
  <div class="field">
    <label>Contraseña</label>
    <input type="password" required [(ngModel)]="password" name="password" placeholder="Contraseña">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="email" required [(ngModel)]="email" name="email" placeholder="Email">
  </div>
  <div class="field">
    <label>Nombre</label>
    <input type="text" required [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
  </div>
  <div class="field">
    <label>Apellidos</label>
    <input type="text" required [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>Soy mayor de edad</label>
    </div>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>Aceptar términos y condiciones</label>
    </div>
  </div>
  <button class="ui button" type="submit" (click)="registerUser()">Registrarse</button>
</form>