<div class="ui success message" *ngIf="exito">
  <i class="close icon"></i>
  <div class="header">
    Te has registrado correctamente.
  </div>
  <p>Ahora puedes iniciar sesión con tu usuario y contraseña.</p>
</div>
<div class="ui middle aligned center aligned grid">
  <div class="column">
<form class="ui form" (ngSubmit)="registerUser($event)">
  <h1>Registrarse </h1>
  <div class="required field">
    <label>Usuario</label>
    <input type="text" required [(ngModel)]="usuario" name="usuario" placeholder="Usuario">
  </div>
  <div class="required field">
    <label>Contraseña</label>
    <input type="password" required [(ngModel)]="password" name="password" placeholder="Contraseña">
  </div>
  <div class="required field">
    <label>Email</label>
    <input type="email" required [(ngModel)]="email" name="email" placeholder="Email">
  </div>
  <div class="required field">
    <label>Nombre</label>
    <input type="text" required [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
  </div>
 <div class="required field">
    <label>Apellidos</label>
    <input type="text" required [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos">
  </div>
   <div class="required inline field">
    <div class="ui checkbox">
      <input type="checkbox" name="checked" required>
      <label>Soy mayor de edad</label>
    </div>
  </div>
    <button class="ui green button" type="submit">Registrarse</button>
  <div class="befound">
  <p>Al registrarte, aceptas las <a href="/tos" class="legal-link" target="_blank">Condiciones de Servicio</a> y la <a href="/privacy" class="legal-link" target="_blank">Política de Privacidad</a>.</p>
</div>

</form>
  </div>
</div>