<div class="ui middle aligned center aligned grid">
  <div class="column">

<form class="ui disabled form">
  <h1 class="title"> Datos de perfil</h1>
  <div class="form-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" [disabled]="is_edit">
  </div>
   <div class="form-group">
    <label>Email de paypal</label>
    <input type="email" [(ngModel)]="paypal" name="paypal" placeholder="Paypal" [disabled]="is_edit">
  </div>
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre" [disabled]="is_edit">
  </div>
  <div class="form-group">
    <label>Apellidos</label>
    <input type="text" [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos" [disabled]="is_edit">
  </div>
  <div class="form-group" *ngIf="is_edit">
    <button class="ui button" (click)="editUser($event)" >Editar</button>
     <button class="negative ui right floated button" (click)="deleteUser($event)" id="logIn">Darse de baja</button>
  </div>

  <div class="ui buttons" *ngIf="!is_edit">
    <button class="ui button" (click)="editUser($event)">Cancel</button>
    <div class="or" data-text="o"></div>
    <button class="ui positive button active" (click)="updateUser($event)">Guardar</button>
   
  </div>
</form>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Borrar tu cuenta
  </div>
    <div class="description">
      <p>¿Estas seguro que quieres borrar tu cuenta?</p>
    </div>
  
  <div class="actions">
    <div class="ui red deny button" >
      No
    </div>
    <div class="ui positive right labeled icon button" (click)="confirm($event)">
      Si
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>