<!--component html goes here -->
<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="five wide column">
          <img src="./assets/logo-footer.png" style="height: 200px;width: 200px;max-width: 100%">
        </div>
        <div class="five wide column">
          <h4 class="ui inverted header">Sobre nosotros</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="five wide column">
          <h4 class="ui inverted header">Servicios</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
      </div>
    </div>
  </div>