<!--component html goes here -->
<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="five wide column">
          <img src="./assets/logo-footer.png" style="height: 200px;width: 200px;max-width: 100%">
        </div>
        <div class="five wide column">
          <h4 class="ui inverted header"></h4>
          <div class="ui inverted link list">
            <a href="#" class="item"></a>
          </div>
        </div>
      </div>
    </div>
  </div>